<html lang="$lang">
<head>
    <meta charset="UTF-8">
</head>

<body>

<h3>$current.dateTime</h3>

This checks the units for all schema variables display correctly

<table>
<tr><td>altimeter</td><td>$unit.label.altimeter</td></tr>
<tr><td>appTemp</td><td>$unit.label.appTemp</td></tr>
<tr><td>appTemp1</td><td>$unit.label.appTemp1</td></tr>
<tr><td>barometer</td><td>$unit.label.barometer</td></tr>
<tr><td>batteryStatus1</td><td>$unit.label.batteryStatus1</td></tr>
<tr><td>batteryStatus2</td><td>$unit.label.batteryStatus2</td></tr>
<tr><td>batteryStatus3</td><td>$unit.label.batteryStatus3</td></tr>
<tr><td>batteryStatus4</td><td>$unit.label.batteryStatus4</td></tr>
<tr><td>batteryStatus5</td><td>$unit.label.batteryStatus5</td></tr>
<tr><td>batteryStatus6</td><td>$unit.label.batteryStatus6</td></tr>
<tr><td>batteryStatus7</td><td>$unit.label.batteryStatus7</td></tr>
<tr><td>batteryStatus8</td><td>$unit.label.batteryStatus8</td></tr>
<tr><td>cloudbase</td><td>$unit.label.cloudbase</td></tr>
<tr><td>co</td><td>$unit.label.co</td></tr>
<tr><td>co2</td><td>$unit.label.co2</td></tr>
<tr><td>consBatteryVoltage</td><td>$unit.label.consBatteryVoltage</td></tr>
<tr><td>dewpoint</td><td>$unit.label.dewpoint</td></tr>
<tr><td>dewpoint1</td><td>$unit.label.dewpoint1</td></tr>
<tr><td>ET</td><td>$unit.label.ET</td></tr>
<tr><td>extraHumid1</td><td>$unit.label.extraHumid1</td></tr>
<tr><td>extraHumid2</td><td>$unit.label.extraHumid2</td></tr>
<tr><td>extraHumid3</td><td>$unit.label.extraHumid3</td></tr>
<tr><td>extraHumid4</td><td>$unit.label.extraHumid4</td></tr>
<tr><td>extraHumid5</td><td>$unit.label.extraHumid5</td></tr>
<tr><td>extraHumid6</td><td>$unit.label.extraHumid6</td></tr>
<tr><td>extraHumid7</td><td>$unit.label.extraHumid7</td></tr>
<tr><td>extraHumid8</td><td>$unit.label.extraHumid8</td></tr>
<tr><td>extraTemp1</td><td>$unit.label.extraTemp1</td></tr>
<tr><td>extraTemp2</td><td>$unit.label.extraTemp2</td></tr>
<tr><td>extraTemp3</td><td>$unit.label.extraTemp3</td></tr>
<tr><td>extraTemp4</td><td>$unit.label.extraTemp4</td></tr>
<tr><td>extraTemp5</td><td>$unit.label.extraTemp5</td></tr>
<tr><td>extraTemp6</td><td>$unit.label.extraTemp6</td></tr>
<tr><td>extraTemp7</td><td>$unit.label.extraTemp7</td></tr>
<tr><td>extraTemp8</td><td>$unit.label.extraTemp8</td></tr>
<tr><td>forecast</td><td>$unit.label.forecast</td></tr>
<tr><td>hail</td><td>$unit.label.hail</td></tr>
<tr><td>hailBatteryStatus</td><td>$unit.label.hailBatteryStatus</td></tr>
<tr><td>hailRate</td><td>$unit.label.hailRate</td></tr>
<tr><td>heatindex</td><td>$unit.label.heatindex</td></tr>
<tr><td>heatindex1</td><td>$unit.label.heatindex1</td></tr>
<tr><td>heatingTemp</td><td>$unit.label.heatingTemp</td></tr>
<tr><td>heatingVoltage</td><td>$unit.label.heatingVoltage</td></tr>
<tr><td>humidex</td><td>$unit.label.humidex</td></tr>
<tr><td>humidex1</td><td>$unit.label.humidex1</td></tr>
<tr><td>inDewpoint</td><td>$unit.label.inDewpoint</td></tr>
<tr><td>inHumidity</td><td>$unit.label.inHumidity</td></tr>
<tr><td>inTemp</td><td>$unit.label.inTemp</td></tr>
<tr><td>inTempBatteryStatus</td><td>$unit.label.inTempBatteryStatus</td></tr>
<tr><td>leafTemp1</td><td>$unit.label.leafTemp1</td></tr>
<tr><td>leafTemp2</td><td>$unit.label.leafTemp2</td></tr>
<tr><td>leafWet1</td><td>$unit.label.leafWet1</td></tr>
<tr><td>leafWet2</td><td>$unit.label.leafWet2</td></tr>
<tr><td>lightning_distance</td><td>$unit.label.lightning_distance</td></tr>
<tr><td>lightning_disturber_count</td><td>$unit.label.lightning_disturber_count</td></tr>
<tr><td>lightning_energy</td><td>$unit.label.lightning_energy</td></tr>
<tr><td>lightning_noise_count</td><td>$unit.label.lightning_noise_count</td></tr>
<tr><td>lightning_strike_count</td><td>$unit.label.lightning_strike_count</td></tr>
<tr><td>luminosity</td><td>$unit.label.luminosity</td></tr>
<tr><td>maxSolarRad</td><td>$unit.label.maxSolarRad</td></tr>
<tr><td>nh3</td><td>$unit.label.nh3</td></tr>
<tr><td>no2</td><td>$unit.label.no2</td></tr>
<tr><td>noise</td><td>$unit.label.noise</td></tr>
<tr><td>o3</td><td>$unit.label.o3</td></tr>
<tr><td>outHumidity</td><td>$unit.label.outHumidity</td></tr>
<tr><td>outTemp</td><td>$unit.label.outTemp</td></tr>
<tr><td>outTempBatteryStatus</td><td>$unit.label.outTempBatteryStatus</td></tr>
<tr><td>pb</td><td>$unit.label.pb</td></tr>
<tr><td>pm10_0</td><td>$unit.label.pm10_0</td></tr>
<tr><td>pm1_0</td><td>$unit.label.pm1_0</td></tr>
<tr><td>pm2_5</td><td>$unit.label.pm2_5</td></tr>
<tr><td>pressure</td><td>$unit.label.pressure</td></tr>
<tr><td>radiation</td><td>$unit.label.radiation</td></tr>
<tr><td>rain</td><td>$unit.label.rain</td></tr>
<tr><td>rainBatteryStatus</td><td>$unit.label.rainBatteryStatus</td></tr>
<tr><td>rainRate</td><td>$unit.label.rainRate</td></tr>
<tr><td>referenceVoltage</td><td>$unit.label.referenceVoltage</td></tr>
<tr><td>rxCheckPercent</td><td>$unit.label.rxCheckPercent</td></tr>
<tr><td>signal1</td><td>$unit.label.signal1</td></tr>
<tr><td>signal2</td><td>$unit.label.signal2</td></tr>
<tr><td>signal3</td><td>$unit.label.signal3</td></tr>
<tr><td>signal4</td><td>$unit.label.signal4</td></tr>
<tr><td>signal5</td><td>$unit.label.signal5</td></tr>
<tr><td>signal6</td><td>$unit.label.signal6</td></tr>
<tr><td>signal7</td><td>$unit.label.signal7</td></tr>
<tr><td>signal8</td><td>$unit.label.signal8</td></tr>
<tr><td>snow</td><td>$unit.label.snow</td></tr>
<tr><td>snowBatteryStatus</td><td>$unit.label.snowBatteryStatus</td></tr>
<tr><td>snowDepth</td><td>$unit.label.snowDepth</td></tr>
<tr><td>snowMoisture</td><td>$unit.label.snowMoisture</td></tr>
<tr><td>snowRate</td><td>$unit.label.snowRate</td></tr>
<tr><td>so2</td><td>$unit.label.so2</td></tr>
<tr><td>soilMoist1</td><td>$unit.label.soilMoist1</td></tr>
<tr><td>soilMoist2</td><td>$unit.label.soilMoist2</td></tr>
<tr><td>soilMoist3</td><td>$unit.label.soilMoist3</td></tr>
<tr><td>soilMoist4</td><td>$unit.label.soilMoist4</td></tr>
<tr><td>soilTemp1</td><td>$unit.label.soilTemp1</td></tr>
<tr><td>soilTemp2</td><td>$unit.label.soilTemp2</td></tr>
<tr><td>soilTemp3</td><td>$unit.label.soilTemp3</td></tr>
<tr><td>soilTemp4</td><td>$unit.label.soilTemp4</td></tr>
<tr><td>supplyVoltage</td><td>$unit.label.supplyVoltage</td></tr>
<tr><td>txBatteryStatus</td><td>$unit.label.txBatteryStatus</td></tr>
<tr><td>UV</td><td>$unit.label.UV</td></tr>
<tr><td>uvBatteryStatus</td><td>$unit.label.uvBatteryStatus</td></tr>
<tr><td>windBatteryStatus</td><td>$unit.label.windBatteryStatus</td></tr>
<tr><td>windchill</td><td>$unit.label.windchill</td></tr>
<tr><td>windDir</td><td>$unit.label.windDir</td></tr>
<tr><td>windGust</td><td>$unit.label.windGust</td></tr>
<tr><td>windGustDir</td><td>$unit.label.windGustDir</td></tr>
<tr><td>windrun</td><td>$unit.label.windrun</td></tr>
<tr><td>windSpeed</td><td>$unit.label.windSpeed</td></tr>
</label>

</body>
</html>

